.BuildControl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #fb5d5d;
  /* border: 1px solid #7E7365; */
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #fb5d5d;
  /* cursor: not-allowed; */
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
  text-align: center;
}

.BuildControl .Less {  
  background-color: #fc4848;
  color: white;
  
}

.BuildControl .More {
  background-color: #39de6b;
  color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
  background-color: #fb5d5d;
  color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
  background-color: #5fdd85;
  color: white;
}